@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Bem-vindo ao TCC! </h1>
   <h5> Este trabalho apresenta o desenvolvimento de um sistema de controle de cadastro de usuários utilizando ASP.NET no Visual Studio 2022. O objetivo principal é fornecer uma solução eficiente e segura para o gerenciamento de usuários, permitindo funcionalidades como cadastro, edição, exclusão e autenticação.

    O sistema utiliza banco de dados SQL Server para armazenar as informações dos usuários e Entity Framework para a comunicação com o banco de dados. Além disso, implementa camadas de segurança, como autenticação e autorização, garantindo que apenas usuários autorizados acessem determinadas áreas do sistema.

    A interface foi desenvolvida utilizando Razor Pages ou MVC (Model-View-Controller), proporcionando uma experiência intuitiva e responsiva. Tecnologias como Identity Framework foram aplicadas para a gestão segura de senhas e permissões.

    Este trabalho destaca a importância da segurança no armazenamento de dados pessoais e aborda conceitos da Lei Geral de Proteção de Dados (LGPD) para garantir conformidade legal.

    Por meio deste projeto, busca-se demonstrar como o ASP.NET pode ser uma ferramenta robusta para desenvolver aplicações seguras e escaláveis no controle de usuários.</h5>
</div>
