@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Este Trabalho de Conclusão de Curso apresenta o desenvolvimento de um sistema de controle financeiro 
    pessoal utilizando a tecnologia ASP.NET MVC. O sistema tem como objetivo auxiliar os usuários no
    gerenciamento de suas finanças, permitindo o cadastro de receitas e despesas, a exibição do 
    saldo disponível e a geração de relatórios detalhados por categoria. 
    Além disso, o sistema conta com filtros para visualização de dados por período e categorias, além da exibição de gráficos
    interativos para facilitar a análise financeira. Com uma interface intuitiva e responsiva, a aplicação busca proporcionar uma experiência 
    prática e eficiente na organização das finanças pessoais.
  
</div>
