@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    # Política de Privacidade

    ## 1. Introdução
    Esta política explica a coleta, uso e proteção das informações dos usuários. Ao utilizar nossos serviços, você concorda com essas práticas.

    ## 2. Coleta e Uso de Informações
    Coletamos dados pessoais (nome, e-mail, telefone) e de navegação (IP, dispositivo, páginas acessadas). Essas informações são usadas para melhorar a experiência do usuário, personalizar conteúdos e enviar comunicações autorizadas.

    ## 3. Compartilhamento e Proteção
    Não compartilhamos dados pessoais, exceto para cumprir exigências legais, garantir segurança ou fornecer serviços por parceiros confiáveis. Medidas de segurança são adotadas para proteger os dados.

    ## 4. Cookies e Direitos dos Usuários
    Utilizamos cookies para melhorar a navegação, podendo ser desativados pelo usuário. Os usuários podem solicitar acesso, correção ou exclusão de seus dados e revogar consentimentos.

    ## 5. Alterações e Contato
    Podemos modificar esta política a qualquer momento, publicando as alterações nesta página. Para dúvidas, entre em contato pelo e-mail: [felicewener@gmail.com].


   

</p>
